#bodycolor{
    background:rgba(0, 0, 0, 0.908);
}

#top{
    height: 300pt;
    width:100%;
    background: url("star.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.myname{
    color: rgba(0, 234, 255, 0.609);
    font-family: 'alex brush',cursive, sans-serif; 
    font-size: xx-large;
    font-weight: 700;
}
.para{
    color: rgba(0, 234, 255, 0.609);
    font-weight: 500;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#button{
    background-color: lightgrey;
    border: none;
    margin:50px 70px ;
}
.header{
    font-weight: 400;
    color:rgba(0, 234, 255, 0.609);
}
h2+p{
    color: white;
}
#table{
    color: white;
}
#h4{
    color:rgba(0, 234, 255, 0.609);
}
#header{
    text-align: center;
    font-style: italic;
    font-weight: 600;
}
#profile{
    text-align: center;
}
#me{
    padding: 0.5rem;
    border-radius: 5rem;
}
.web{
    height:80px
}
#bootstrap{
    height:50px ;
    padding-right:3rem;
    padding-left: 2rem;
}
#java{
    height: 72px;
    padding-right:4rem;
    padding-bottom: 1.5rem;
}
#php{
    height: 50px;
    padding-left:1rem;
    padding-bottom:3rem;
    padding-top: 2rem;
}
#python{
    height:50px;
    padding-bottom: 2rem;

}
#footer{
    background-color: rgba(0, 255, 255, 0.494);
    text-align: center;
}
#name{
    font-family: 'alex brush',cursive;
    font-weight: 600;

}
.button{
    background-color: rgba(0, 123, 255, 0.964);
    border-radius: 1rem;
}
.class{
    background-color: black;
}